@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #E6E6E6;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hauora);
  --font-mono: var(--font-hauora);

  --animate-dot-pulse: dot-pulse 1500ms ease-in-out infinite;
  --animate-flash: flash 450ms ease-in-out infinite;
  --animate-fade-in: fade-in 1s ease-in-out;

  @keyframes dot-pulse {
    50% {
      transform: scale(0.6);
      opacity: 0.6;
    }
  }

  @keyframes flash {
    50% {
      opacity: 0.1
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hauora);
}
